.multiselect-demo .p-multiselect {
  min-width: 15rem;
}

.multiselect-demo
  .multiselect-custom
  .p-multiselect-label:not(.p-placeholder):not(.p-multiselect-items-label) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.multiselect-demo .multiselect-custom .country-item-value {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: 0.5rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.multiselect-demo .multiselect-custom .country-item-value img.flag {
  width: 17px;
}
.p-multiselect-panel.p-component.p-connected-overlay-enter-done {
  z-index: 999999999999 !important;
}

.selectdrop.MuiCheckbox-colorSecondary.Mui-checked {
  color: #004e37 !important;
}
.MuiListItem-root.Mui-selected {
  background-color: #fff !important;
}
.p-autocomplete-panel.p-component.p-connected-overlay-enter-done {
  z-index: 999999999999 !important;
}
.autoCompletePrimeInput .p-inputtext:enabled:focus {
  box-shadow: none !important;
  border-color: #004e37 !important;
}
/* .autoCompletePrimeInput .p-inputtext:enabled:hover{
    background: #e9ecef!important;
} */
/* #e9ecef */
.p-datatable-scrollable-body-table
  .p-datatable-tbody
  tr:hover
  .autoCompletePrimeInput
  .p-inputtext:enabled {
  background: #e9ecef !important;
}
.autoCompletePrimeInput .p-inputtext:enabled:hover {
  border-color: #004e37 !important;
}
.autoCompletePrimeInput .p-inputtext.p-component.p-autocomplete-input {
  padding: 5px !important;
  border-color: #c4c4c4 !important;
}
.rangedStoresFirstList,
.storesSelectedFirstList {
  background: #004e37;
  color: #fff;
}
.gridBorderGreen {
  border: 1px solid #4f81bd;
  margin: 0 15px;
}
.headBgGreen {
  background: #4f81bd;
  color: #fff;
  padding: 7px;
  margin-bottom: 8px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.childRange {
  padding: 7px;
  margin-bottom: 8px;
}
.childRange li {
  margin-bottom: 8px;
  font-weight: 600;
}
.primeCardPlacholder {
  display: flex;
}
.primeCardPlacholder .p-inputtext.p-component.p-autocomplete-input {
  border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.primeCardPlacholder .p-inputtext.p-component.p-autocomplete-input:hover,
.searcIcon:hover {
  border-color: #004e37 !important;
}

.searcIcon {
  padding: 0px 10px;
  border: 1px solid #c4c4c4;
  border-left: 0;
  line-height: 34px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: lightgray;
}
/* .p-datatable-scrollable-header-box{
    margin-left: auto !important;
} */
